# Build results
bin/
obj/
out/

# Rider / ReSharper
.idea/
*.sln.iml

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# OS
.DS_Store
Thumbs.db
